body {
  color: rgba(33, 33, 33, 0.8);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --content-padding: 1.5rem;
  --primary: 67 135 245;
  --secondary: 233 217 45;
  --error: rgba(240 40 40);
  --nav-link: rgba(240, 80, 80, 0.8);
  --nav-link-hover: rgba(240, 120, 120, 0.8);
  --hf-gradient: linear-gradient(0.28turn, white 38%, lightgray);

  --radius-sm: calc(1rem / 8);
  --radius-md: calc(1rem / 3);
  --radius: calc(1rem / 2);
  --radius-lg: 1rem;

  --padding-sm: 0.25rem;
  --padding-md: 0.5rem;
  --padding: 0.75rem;
  --padding-lg: 1rem;

  --font-sm: 0.25rem;
  --font-md: 0.5rem;
  --font: 1rem;
  --font-lg: 2rem;
}

a {
  outline-color: transparent;
  text-decoration: none;
}

button, .button {
  --bg-color: 200, 200, 100;
  display: inline-block;
  border: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  outline: transparent;
  background-color: rgb(var(--bg-color));
  cursor: pointer;
}

button[type="submit"] {
  --bg-color: 0, 100, 0;
  background-color: rgba(var(--bg-color), 0.8);
  color: white;
  transition: 0.5s background-color ease-in-out;
}

button:is(:hover, :focus),
.button:is(:hover, :focus) {
  background-color: rgba(var(--bg-color), 0.6);
}

input {
  font-size: var(--font);
  line-height: var(--font);
  padding: 0.5em 1em;
  border: 0.1em solid rgba(var(--primary) / 0.8);
  border-radius: 0.2em;
  outline: transparent;
}

input:focus {
  border-color: rgba(var(--primary) / 1);
}

#root {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-rows: minmax(100px, min-content) 1fr 10rem;
  min-height: 100dvb;
}

header {
  isolation: isolate;
  position: relative;
  background-color: rgba(var(--primary));
  color: white;
  padding: 0.75rem var(--content-padding, 1rem);
  font-size: 0.75rem;
}

header h1 {
  margin: 0;
}

header h1 a {
  color: whitesmoke;
}

header span {
  color: whitesmoke;
}

header nav {
  flex: 1;
}

header nav a {
  display: inline-grid;
  place-content: center;
  align-self: stretch;
  font-size: 1.2rem;
  color: whitesmoke;
  transition: 0.575s color ease-in-out;
}

header nav a:is(:hover, :focus) {
  color: var(--nav-link-hover);
}

header nav a:focus {
  text-decoration: underline;
}

main {
  padding: var(--content-padding, 1rem);
}

footer {
  padding: var(--content-padding, 1rem);
  background: var(--hf-gradient);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.place-center {
  place-items: center;
}

.items-center {
  align-items: center;
}

.error {
  color: var(--error);
}

.logo {
  width: 2rem;
  aspect-ratio: 1;
}

.readme {
  position: relative;
  display: grid;
  place-content: center;
  margin: 0 auto;
  max-width: 80ch;
}

.readme::before {
  content: " ";
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg, slategray 5px, transparent 0%);
  margin-left: -1.5rem;
}

form {
  display: grid;
  gap: 1.5rem;
  max-width: 20rem;
  /* grid-template-columns: 1fr; */
}

form label {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

form button {
  justify-self: flex-start;
}