.character-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  place-content: center;
}

/* Interviewee - add styles for the character list layouts */
/* screen >= `30rem`, `2` per row */

/* screen >= `40rem`, `3` per row */

/* screen >= `70rem`, `4` per row */

.character {
  --bg-color: 66, 170, 255;
  isolation: isolate;
  display: grid;
  grid-template-areas: 
    "name name name by by"
    "img img details details details"
  ;
  grid-template-rows: 2.5rem 1fr;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: start;
  overflow: hidden;
  background-color: aliceblue;
}

.character-by {
  grid-area: by;
}

.character-name {
  grid-area: name;
  margin: 0;
  padding-inline: 1rem;
  align-self: center;
  text-transform: capitalize;
  /* background-color: tomato; */
}

.character-img {
  grid-area: img;
  z-index: -1;
  opacity: 0.8;
  clip-path:circle();
  align-self: center;
  opacity: 0.4
  /* background-color: violet; */
}

.character-details {
  display: grid;
  gap: 0.25rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  padding-left: 1.5rem;
  grid-row-start: details;
  grid-row-end: details;
  grid-column-start: 2;
  grid-column-end: details;
  /* background-color: aqua; */
}

.character-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.character-details p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.character-details p {
  margin: 0;
}

input[name="character"] {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--primary));
  border-radius: var(--radius-md);
  outline: transparent;
  padding: var(--padding-md) var(--padding-lg);
  max-width: 24rem;
}

input[name="character"]:focus {
  border-color: rgba(var(--primary), 0.7);
}

select[name="limit"] {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(var(--primary));
  border-radius: var(--radius-md);
  outline: transparent;
  padding: var(--padding-md);
  max-width: 8rem;
}

.dimmed {
  opacity: 0.5;
}

/* Interviewee task - style modal overlay */
.modal-overlay {
  background-color:rgba(90 61 61 / 0.754);
}

/* Interviewee task - style modal */
.modal {
  --padding: 1.5rem;
  padding: var(--padding);
  background-color: white;
  background-image: var(--hf-gradient);
  min-height: 14rem;
  min-width: 16rem;
  max-height: 18rem;
  max-width: 22rem;
  box-shadow: 0 0 6rem rgba(50 50 50 / 0.9);
}

.modal-close {
  position: absolute;
  right: var(--padding);
}